<template>
    <v-layout wrap>

        <v-flex xs12 sm6>
            <v-list two-line>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon v-if="type">{{type && type.icon}}</v-icon>
                        <v-icon v-else>event</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-select
                            :items="types"
                            v-model="type"
                            label="Type"
                            single-line
                            bottom
                            style="max-width: 300px">
                            <template slot="item" slot-scope="data">
                                <v-list-tile-avatar>
                                    <v-icon>{{data.item.icon}}</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title v-html="data.item.text"></v-list-tile-title>
                                </v-list-tile-content>
                            </template>                
                        </v-select>
                    </v-list-tile-content>
                </v-list-tile>


                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon>access_time</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-layout>                        
                            <v-flex xs6>
                                <DropdownTimepicker
                                    v-model="value.startTime"
                                    label="Start time"
                                    :max="value.endTime" />
                            </v-flex>
                            <v-flex>&nbsp;-&nbsp;</v-flex>
                            <v-flex xs6>                
                                <DropdownTimepicker
                                    v-model="value.endTime"
                                    label="End time"
                                    :disabled="!value.startTime"
                                    :min="value.startTime"/>              
                            </v-flex>
                        </v-layout>
                        <v-list-tile-sub-title v-if="value.startTime && value.endTime">
                            The event will last {{eventTimeDuration}}
                        </v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon>location_on</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-layout align-center>
                                
                            <v-flex>
                                {{value.location && value.location.address}}           
                            </v-flex>
                            <v-flex>
                                <LocationMapDialog v-model="value.location" />
                            </v-flex>
                        </v-layout>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-flex>


        <v-flex xs12 sm6>
            <v-list>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon>event_note</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-text-field
                            v-model="value.note"
                            label="Note"
                            multi-line
                            rows="1"
                            auto-grow>
                        </v-text-field>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-flex>


    </v-layout>
</template>

<script>
import LocationMapDialog from "./LocationMapDialog";
import eventTypes from '@/config/event-types.js';
import DropdownTimepicker from "@/controls/DropdownTimepicker";
import moment from 'moment';
export default {
  props: {
      value: { required: true }
  },
  components: {
    LocationMapDialog,
    DropdownTimepicker
  },
  data() {
    return {
      type: "",
      types: eventTypes
    };
  },
  watch: {
      'value': {
          handler: function(value) {
              this.$emit("input", value)
          }
      },
      deep: true
  },
  computed: {
      eventTimeDuration() {
          if (this.value.startTime && this.value.endTime) {
            let diff = moment(this.value.endTime, ['hh:mm']).diff(moment(this.value.startTime, ['hh:mm']));
            let duration = moment.duration(diff, 'milliseconds');
            return duration.format('h [hours] m [minutes]');
          }
      }
  }
};
</script>
