<template>
    <v-card style="margin: 10px 0" class="event-item">
        <v-card-media
            v-if="type.picture"
            :src="type.picture"
            height="100px" />
        <v-card-title @click="showDetails = true" class="event-header">
            <div @click.stop="editMode = true" v-if="!editMode" >
                <h2 class="" v-if="eventData.name">
                    {{eventData.name}}
                </h2>
                <h2 class="grey--text text--lighten-2" v-else>
                    something must happen
                </h2>
            </div>
            <div v-if="editMode">
                <v-text-field
                    class="subheading"
                    v-model="eventData.name"
                    label="Name"
                    single-line
                    hide-details
                    full-width
                    @blur="editMode = false"
                    autofocus>
                </v-text-field>
            </div>

            <v-spacer></v-spacer>

            <v-btn icon @click.native.stop="showDetails = !showDetails">
                <v-icon>{{ showDetails ? 'close' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
        </v-card-title>
        
        <v-divider v-if="showDetails"></v-divider>

        <!-- <v-card-title v-if="!showDetails">            
            <v-flex v-if="eventData.startTime" xs2>
                <v-icon>access_time</v-icon>
                {{eventData.startTime}}
                <span v-if="eventData.endTime">
                -
                {{eventData.endTime}}
                </span>
            </v-flex>
            <v-flex v-if="eventData.location" xs5>
                <v-icon>location_on</v-icon>
                {{eventData.location.address}}
            </v-flex>
        </v-card-title> -->
        <v-card-text v-if="showDetails">
            <EventCardDetails v-model="eventData" />
        </v-card-text>
        
    </v-card>
  
</template>

<style>
    .event-item {
        position: relative;
    }
    .event-item:after {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        margin-top: -8px;
        margin-left: -53px;
        background-color: #2196F3;
        z-index: 1;
    }
    .event-header:hover {
        cursor: pointer;
    }
</style>

<script>
import EventCardDetails from './EventCardDetails';
export default {
    props: ['eventData'],
    components: {
        EventCardDetails
    },
    data() {
        return {
            editMode: false,
            showDetails: false,
            type: '',
            types: [
                {
                    text: 'Вылет',
                    picture: '/images/3_Material_Design.jpg'
                },
                {
                    text: 'Прилет',
                    picture: '/images/1_Material_Design.jpg'
                },
                {
                    text: 'Заселение'
                }
            ]
        }
    },
    mounted() {
        this.editMode = !this.eventData.name;
    },
    methods: {
        toggleEdit() {
            this.editMode = !this.editMode;
        }
    }
  
}
</script>
