<template>
    <v-dialog v-model="dialog" persistent max-width="800">
      <v-btn :color="place ? 'primary' : ''" flat slot="activator">
          <!-- <v-icon>map</v-icon> -->
          Open Map
          </v-btn>
      <v-card>
        <v-card-title class="headline" v-if="place">{{place.address}}</v-card-title>
        <v-card-title>
            <!-- <v-text-field
                label="Subject"
                value="Plans for the weekend"
                single-line
                full-width
                hide-details
            ></v-text-field> -->
             <GmapAutocomplete
                @place_changed="setPlace"
                class="map-search-input">
            </GmapAutocomplete>
        </v-card-title>
        <v-card-text>
            <GmapMap
                style="width: 100%; height: 300px;"
                :zoom="18"
                :center="place && place.position || {lat: 0, lng: 0}">
                <!-- <GmapMarker v-for="(marker, index) in markers"
                    :key="index"
                    :position="marker.position"
                    /> -->
                <GmapMarker
                    v-if="this.place"
                    label="★"
                    :position="place.position"
                    />
            </GmapMap>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="dialog = false">Apply</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
</template>

<style>
.map-search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;    
}
</style>

<script>
export default {
    props: ['value'],
  data() {
    return {
    dialog: false,
      markers: [],
      place: null,
    }
  },
  methods: {
    setPlace(place) {
      this.place = {
          address: place.formatted_address,
          position: {
              lat: place.geometry.location.lat(),
              lng: place.geometry.location.lng(),
          }
      }
      this.$emit('input', this.place)
    }
  }

}
</script>
