<template>
<div>
    <v-toolbar color="yellow darken-1" fixed>
      <v-layout justify-center>
        <DropdownDatepicker
          v-model="fromDate"/>

        <DropdownDatepicker
          v-model="toDate"
          :min="fromDate"/>
        </v-layout>
    </v-toolbar>

  <div row
    v-for="day in days"
    :key="day.date"
    class="timeline-day">

    <h2 class="timeline-day-header">
        {{day.date | moment('MMM D')}}
    </h2>
    <div class="timeline-day-content" >
      <draggable v-model="day.events"
        :options="{dragClass:'.mdl-shadow--5dp', group:'events'}"
        style="min-height: 100px">
          <!-- <transition-group> -->
              <EventCard v-for="element in day.events"
                  :key="element.id"
                  :event-data="element"
                  />
          <!-- </transition-group> -->
      </draggable>
      <div>
        <v-btn flat
          @click="addEvent(day)">
          <i class="material-icons">add</i> add
        </v-btn>
      </div>
    </div>

    </div>
  </div>
</template>

<style>
.timeline-day {
  border-top: 1px dashed #90CAF9;
}
.timeline-day-header {
  font-size: 30px;
  font-weight: normal;
}
.timeline-day-content {
  position: relative;
}
.timeline-day-content:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  left: 0;
  top: 0;
  height: 100%;
  margin-left: -47px;
  background-color: #90CAF9;
}

@media screen and (min-width: 600px) {
  .timeline-day-header {
    width: 30%;
    font-size: 45px;
  }
  .timeline-day-content {
    width: 70%;
  }
  .timeline-day {
    display: flex;
  }
}
</style>

<script>
import draggable from "vuedraggable";
import EventCard from "./EventCard";
import DropdownDatepicker from '@/controls/DropdownDatepicker';
import moment from 'moment';
export default {
  name: "Timeline",
  components: {
    draggable,
    EventCard,
    DropdownDatepicker
  },
  data() {
    return {
      days: [],
      fromDate: null,
      toDate: null
    };
  },
  mounted() {
    this.fromDate = moment().startOf('day').format('YYYY-MM-DD');
    this.toDate = moment().startOf('day').add(2, 'day').format('YYYY-MM-DD');
    this.updateTimeline();
  },
  methods: {
    addEvent(day) {
      day.events.push({
        date: day.date,
        name: "",
        id: Math.random(),
        startTime: null,
        endTime: null,
        type: null
      })
    },
    updateTimeline() {
      let countDays = moment(this.toDate).diff(this.fromDate, 'days') || 0;
      this.days = Array.apply(null, Array(countDays))
        .map((n, i) => {
          let dayFormat = moment(this.fromDate).add(i, 'day').format('YYYY-MM-DD');
          let existingDay = this.days.find(d => d.date === dayFormat);
          return {
            date: dayFormat,
            events: existingDay ? existingDay.events : []
          }        
        })
    }
  },
  computed: {
    events() {
      return this.days.reduce((events, d) => {
        return events.concat(d.events.map(e => e.date))
      }, [])
    }
  },
  watch: {
    fromDate() {
      this.updateTimeline();
    },
    endDate() {
      this.updateTimeline();
    }
  }
};
</script>
