<template>
    <v-menu
        lazy
        :close-on-content-click="true"
        transition="scale-transition"
        offset-y
        full-width
        nudge-right="40"
        min-width="290px"
        :disabled="disabled"
      >
        <v-btn
          slot="activator"
          flat
          readonly
          :disabled="disabled"
        >
            <v-icon>event</v-icon>
            {{value}}
        </v-btn>
        <v-date-picker
          v-model="value"
          :max="max"
          :min="min"
          no-title
          scrollable />
      </v-menu>
</template>

<script>
export default {
  props: {
    value: { required: true },
    disabled: Boolean,
    label: String,
    icon: String,
    max: String,
    min: String
  },
  watch: {
    value: function(value) {
      this.$emit("input", value);
    }
  }
};
</script>