<template>
    <v-menu
        ref="timeMenu"
        lazy
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        full-width
        :nudge-right="40"
        :disabled="disabled"
        >
        <v-text-field
            slot="activator"
            :label="label"
            :disabled="disabled"
            v-model="value"
            :prepend-icon="icon"
            readonly
            clearable>
        </v-text-field>
        <v-time-picker
            v-model="value"
            :max="max"
            :min="min"
            @change="$refs.timeMenu.save()"
            format="24hr">
        </v-time-picker>
    </v-menu>
</template>

<script>
export default {
  props: {
    value: { required: true },
    disabled: Boolean,
    label: String,
    icon: String,
    max: String,
    min: String
  },
  watch: {
    value: function(value) {
      this.$emit("input", value);
    }
  }
};
</script>